.Header{
    padding: 15px 0;
    margin-bottom: 10px;
    font-family: Helvetica, Arial, serif;
    background-color: black;
    border-bottom: solid red 2px;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
}